input[type="text"],
select {
  width: 100%;
  padding: 12px 35px;
  margin: 0px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #2a2a72;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.App-Component {
  margin: 30px auto 0 auto;
  width: 600px;
}

.pushRight {
  padding-right: 30px;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
}

form.ridge {
  border-style: ridge;
}
